# Reenable this workflow as soon as the project is moved under the Appium org in npmjs

name: Release

on:
  workflow_dispatch:
  push:
    branches: [ master ]

permissions:
  contents: write
  pull-requests: write
  issues: write
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: lts/*
    - run: npm install --no-package-lock
      name: Install dependencies
    - run: npm run test
      name: Run NPM Test
    - run: |
        rm -rf package-lock.json node_modules
        # Remove dev dependencies from node_modules
        npm prune --omit=dev --no-package-lock
      name: Remove dev dependencies
    - run: npm shrinkwrap --omit=dev
      name: Create shrinkwrap
    - run: npm install --only=dev --no-package-lock
      name: Install dev dependencies for the release
    - run: npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      name: Release

